@import "./base/funcionalidades";

footer {
    background-color: rgb(74, 163, 223);
    justify-content: space-between;
    padding: $padding-general;
    display: grid;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 220px 220px;
    grid-template-areas:
        "redes ustedes mapa"
        "suscripcion ustedes mapa";

    .redes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        h3 {font-family: "Arsenal SC", sans-serif;
            font-size: 25px;
            color: white;
            padding: 10px;;
        }

        .logosredes {
            display: flex; 
            justify-content: center;

            a {
                margin: 0 5px; 

                img {
                    width: 50px; 
                    height: auto;
                    max-height: 50px;
                    max-width: 50px;
                    object-fit: contain;
                    margin: 20px;
                }
            }
        }
    }

    .ustedes {
        display: flex;
        flex-direction: column;
        justify-content: center;     
        align-items: center;

        h3 {font-family: "Arsenal SC", sans-serif;
            font-size: 25px;
            color: white;
            padding: 10px;;
        }
        img {
            height: 350px;
            margin: 10px;
            display: flex;
            justify-items: center;
            align-items: center;
            @include borde-redondeado(15px);
        }
    }

    .mapa {
        display: flex;
        flex-direction: column;
        justify-content: center;     
        align-items: center;

        h3 {font-family: "Arsenal SC", sans-serif;
            font-size: 25px;
            color: white;
            padding: 10px;;
        }
        iframe {
            height: 250px;
            width: 400px;
            padding: 10px;
        }
        p {
            font-family: "Arsenal SC", sans-serif;
            font-size: 15px;
            color: rgb(255, 255, 255);
        }
    }

    .suscripcion {
        display: flex;
        flex-direction: column;
        justify-content: center;     
        align-items: center;

        h3 {font-family: "Arsenal SC", sans-serif;
            font-size: 25px;
            color: white;
            padding: 10px;;
        }
        label {
            p {
            font-family: "Arsenal SC", sans-serif;
            font-size: 15px;
            color: rgb(255, 255, 255);
        }
            padding: 10px;
        }
        input {
            padding: 2px;
            margin: 5px;
        }
        
    }
}
