// Variables
$color-principal: rgb(15, 145, 231);
$color-secundario: white;
$color-texto: rgb(255, 255, 255);
$padding-general: 20px;

// Mixin para borde redondeado
@mixin borde-redondeado($radius: 10px) {
    border-radius: $radius;
}

// Mixin para transición
@mixin transicion($tiempo: 0.3s) {
    transition: background-color $tiempo ease;
}

//Extend para titulos
%titulo {
    font-family: "Arsenal SC", sans-serif;
    font-size: 45px;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
}

    %titulo-secundario{
        color: white;
        text-align: left;
        font-family: "Arsenal SC", sans-serif;
        font-size: 50px;
        display: flex;
        padding-left: 30px;
    }
// Extend para un botón común
%boton-comun {
    background-color: $color-principal;
    color: $color-secundario;
    padding: 5px 10px;
    font-family: "Arsenal SC", sans-serif;
    font-size: 20px;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: black;
        color: $color-principal;
    }

    &:active {
        background-color: white;
    }
}

// Lista de productos
$productos: (
    "Camiseta Nacional",
    "Camiseta Peñarol",
    "Camiseta Uruguay",
    "Zapatillas Nike",
    "Zapatillas Adidas"
);